div[class^='col-'] {
  border-style: none solid none none;
  border-width: 1px;
}
div[class^='col-']:first-of-type {
  border-style: none solid none solid;
}
.row:first-of-type {
  border-style: solid none solid none;
}
.row {
  border-style: none none solid none;
  border-width: 1px;
}
.no-row-sep > div[class^='col-']:first-of-type {
  border-style: none none none solid;
}
.no-row-sep > div[class^='col-'] {
  border-style: none;
}
.no-row-sep > div[class^='col-']:last-of-type {
  border-style: none solid none none;
}
.full-fill-in {
  display: flex;
}
.full-fill-in > input[type=text] {
  width: 1px;
  flex-grow: 1;
}
input[type=text] {
  border: none;
  color: DimGrey;
}
.head-1 {
  font-size: 2em !important;
}
.head-2 {
  font-size: 1.25em !important;
  font-weight:bold;
}

@media print {
  .physical-item:nth-child(13) {
    page-break-after: always;
  }
  .physical-item:nth-child(14) {
    border-style: solid none solid none;
  }
  .full-fill-in > input[type=text] {
    outline: none;
    caret-color: transparent;
  }
  * {
    font-size: 10pt !important;
  }
}
